services:
  wireguard:
    image: linuxserver/wireguard
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Tokyo
      - SERVERURL=35.79.154.255   # 你的公网域名或公网IP
      - SERVERPORT=51820           # WireGuard 监听端口
      - PEERS=2                    # 生成的客户端数量（例：1个客户端）
      - PEERDNS=8.8.8.8            # 客户端用的 DNS
      - INTERNAL_SUBNET=10.13.13.0 # 内网子网
    volumes:
      - ./config:/config
      - /lib/modules:/lib/modules
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped

