[Unit]
Description=EFS → S3 Uploader
After=network.target
Requires=remote-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/efs_s3_lock_uploader.py
Restart=always
User=root
WorkingDirectory=/usr/local/bin
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
