- name: Install extra repositories and packages
  hosts: all
  become: true

  tasks:
    - name: Import EPEL GPG key (RHEL 9)
      ansible.builtin.rpm_key:
        key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-9
        state: present

    - name: Install EPEL repository
      ansible.builtin.dnf:
        name: "https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm"
        state: present
      changed_when: false

    - name: Install and enable SSM Agent
      ansible.builtin.dnf:
        name: https://s3.amazonaws.com/ec2-downloads-windows/SSMAgent/latest/linux_amd64/amazon-ssm-agent.rpm
        state: present

    - name: Enable SSM Agent service
      ansible.builtin.service:
        name: amazon-ssm-agent
        state: started
        enabled: true