- name: Install extra repositories and packages
  hosts: all
  become: true

  tasks:
    - name: Import EPEL GPG key (RHEL 9)
      ansible.builtin.rpm_key:
        key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-9
        state: present
      changed_when: false

    - name: Install EPEL repository
      ansible.builtin.dnf:
        name: "https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm"
        state: present
      changed_when: false

    - name: Install Amazon SSM Agent from RPM
      ansible.builtin.command:
        cmd: rpm -Uvh https://s3.amazonaws.com/ec2-downloads-windows/SSMAgent/latest/linux_amd64/amazon-ssm-agent.rpm
      args:
        creates: /usr/bin/amazon-ssm-agent 

    - name: Enable SSM Agent service
      ansible.builtin.service:
        name: amazon-ssm-agent
        state: started
        enabled: true

    - name: Install awscli packages
      ansible.builtin.dnf:
        name:
          - awscli
        state: present
      changed_when: false

      