- name: Configure Hostname and custom banner
  host: all
  become: true
  vars:
    hostnames: ['sftp-01','sftp-02']

  tasks:
    - name: Set Hostname
      ansible.builtin.hostname:
        name: "{{ item }}"
      loop: "{{ hostnames }}"
      when: inventory_hostname == item
      changed_when: false
  
    - name: Create login banner script
      copy:
        dest: /etc/profile.d/login-banner.show
        content: |
          #!/bin/bash
          echo ""
          echo "==============================="
          echo " Hostname: $(hostname)"
          echo " Date:     $(date)"
          echo " Kernel:   $(uname -r)"
          echo "==============================="
          echo ""
        mode: '0755'
        owner: root
        group: root
      changed_when: false

    - name: Edite /etc/motd
      become: true
      ansible.builtin.template:
        src: motd.j2
        dest: /etc/motd
        mode: '0644'
      changed_when: false