- name: Configure Hostname and custom banner
  host: all
  become: true
  vars:
    hostnames: ['sftp-01','sftp-02']

  tasks:
    - name: Set Hostname
      ansible.builtin.hostname:
        name: "{{ item }}"
      loop: "{{ hostnames }}"
      when: inventory_hostname == item
      changed_when: false
  
    - name: Create login banner script
      copy:
        dest: /etc/profile.d/login-banner.show
        content: |
          #!/bin/bash
          echo ""
          echo "==============================="
          echo " Hostname: $(hostname)"
          echo " Date:     $(date)"
          echo " Kernel:   $(uname -r)"
          echo "==============================="
          echo ""
        mode: '0755'
        owner: root
        group: root
      changed_when: false

    - name: Edite /etc/motd
      copy:
        dest: /etc/motd
        content: |
           .d8888b.  88888888 88888888888 8888888b.
          d88P  Y88b 888          888     888   Y88b
          Y88b.      888          888     888    888
           "Y888b.   8888888      888     888   d88P
              "Y88b. 888          888     8888888P"
                "888 888          888     888
          Y88b  d88P 888          888     888
           "Y8888P"  888          888     888