- name: Connect to ManagedAD
  hosts: sftp
  become: yes
  vars:
    ad_domain: hgs.h21group.com
    ad_admin: ''
  
  tasks:
    - name: Install oddjob-mkhomedir
      package:
        name: 
          - realmd
          - sssd
          - oddjob
          - oddjob-mkhomedir
          - adcli
          - samba-common-tools
        state: present
      changed_when: false

    - name: Enable automatic home directory creation
      command: >
        authconfig
        --enablemkhomedir
        --update
      changed_when: false

    - name: Check if already joined to AD
      command: realm list
      register: realm_list
      changed_when: false

    - name: Join ManagedAD
      command: >
        realm join
        -U {{ ad_admin }}
        {{ ad_domain }}
      when: ad_domain not in realm_list.stdout
