- name: Connect to ManagedAD
  hosts: sftp
  become: yes
  vars:
    ad_domain: hgs.h21group.com
    ad_admin: ''
  
  tasks:
    - name: Configure Kerberos
      template:
        src: krb5.conf.j2
        dest: /etc/krb5.conf
        owner: root
        group: root
        mode: '0644'

    - name: Configure Kerberos
      copy:
      content: |
        # To opt out of the system crypto-policies configuration of krb5, remove the
        # symlink at /etc/krb5.conf.d/crypto-policies which will not be recreated.
        includedir /etc/krb5.conf.d/

        [logging]
            default = FILE:/var/log/krb5libs.log
            kdc = FILE:/var/log/krb5kdc.log
            admin_server = FILE:/var/log/kadmind.log

        [libdefaults]
            default_realm = HGS.H21GROUP.COM
            dns_lookup_kdc = true
            dns_lookup_realm = false
            ticket_lifetime = 24h
            renew_lifetime = 7d
            forwardable = true
            rdns = false
            pkinit_anchors = FILE:/etc/pki/tls/certs/ca-bundle.crt
            spake_preauth_groups = edwards25519
            dns_canonicalize_hostname = fallback
            qualify_shortname = ""
            default_ccache_name = KEYRING:persistent:%{uid}
            udp_preference_limit = 0

        [realms]
            HGS.H21GROUP.COM = {
                kdc = 10.200.3.108
                kdc = 10.200.1.90
                admin_server = 10.200.3.108
            }

        [domain_realm]
            .hgs.h21group.com = HGS.H21GROUP.COM
            hgs.h21group.com = HGS.H21GROUP.COM
      dest: /etc/krb5.conf
      owner: root
      group: root
      mode: '0644'

    - name: Install oddjob-mkhomedir
      package:
        name: 
          - realmd
          - sssd
          - oddjob
          - oddjob-mkhomedir
          - adcli
          - samba-common-tools
        state: present
      changed_when: false

    - name: Enable automatic home directory creation
      command: >
        authconfig
        --enablemkhomedir
        --update
      changed_when: false

    - name: Check if already joined to AD
      command: realm list
      register: realm_list
      changed_when: false

    - name: Join ManagedAD
      command: >
        realm join
        -U {{ ad_admin }}
        {{ ad_domain }}
      when: ad_domain not in realm_list.stdout


